.mainCarDiv{
    background-color: #BCD2BE;
    min-height: 85em;
    margin-top: 1.5%;
    text-align: center;
}
.carCard{
    margin: auto;
    min-height: 14em;
    max-height: 14em;
    border-radius: 20px !important;
    box-shadow: 10px 10px 5px grey !important;
    background-color: #013220 !important;
    color: white !important;
}
.left{
    margin-left: 10%;
}
.right{
    margin-right: 10%;
}
.right > .number{
    font-size: 5em !important;
    font-weight: bold;
}
.carDescription{
    margin-top: 4%;
    border-radius: 20px !important;
    background-color: #013220 !important;
    color: white !important;
    font-weight: bold;
    min-height: 32em;
    text-align: left;
    margin-bottom: 2.5em;
}
.carImage{
    margin-top: 30%;
    margin-bottom: 12%;
}
.carCard > .cardTitle{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0 !important;
}
.cardContent{
    font-size: 1.5rem ;
    font-weight: bold;
}