.App {
  text-align: center;
  color: white;
  height: 100%;
}
body{
height: 200vh;
}
.button1{
  margin: 50;
}
.button1:hover{
  background-color: red !important;
}
.button2:hover{
  background-color: purple !important;
}
.afterVideo{
  margin-top: 22%;
}
.homePageCard{
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
  display: flex;
  width: 85%;
  height: 40vh;
  border-radius: 20px !important;
  margin: auto;
  margin-top: 2%;
}
.homePageHelmet{
  margin-right: 7.5%;
  margin-left: 7.5%;

}
.text{
  margin-top: 1%;
  font-size: 2.5vw !important;
  font-weight: bold;
  text-align: center;
}
