.App {
  text-align: center;
  color: white;
  height: 720px;
}
body{
height: 720px;
}
.button1{
  margin: 50;
}
.button1:hover{
  background-color: red !important;
}
.button2:hover{
  background-color: purple !important;
}
