.tracksMainDiv{
    background-color: #007FFF;
}
.AllTrackCard{
    box-shadow: 10px 15px rgba(250,250, 250, 0.6) !important;
    border: 2px solid black;
    background-color: white !important;
    width: 70%;
    height: 12vw;
    border-radius: 1vw !important;
    margin-bottom:2%;
    font-size: 1.5vw;
    font-weight: bolder;
    margin-top: 1vw;
    text-align: center;
}

.divider{
    color: black !important;
}
.link, :hover{
    text-decoration: none;
    color: black;
}
.textTrack{
    margin-top: 0.5vw;
    font-size: 1.7vw;
    font-weight: bolder;
    margin-bottom: 0.5vw; 
}
.addButton{
    width: 100%;
    height: 100%;
}