.mainCarDiv{
    background-color: #007FFF;
    min-height: 85em;
    margin-top: 1.5%;
    text-align: center;
}
.carCard{
    margin: auto;
    min-height: 14em;
    max-height: 14em;
    border-radius: 20px !important;
    box-shadow: 15px 15px rgba(250, 250, 250, 0.6) !important;
    background-color: #003c79 !important;
    color: white !important;
}
.left{
    margin-left: 10%;
}
.right{
    margin-right: 10%;
}
.right > .number{
    font-size: 4.5em !important;
    font-weight: bold;
}
.carDescription{
    margin-top: 2%;
    border-radius: 20px !important;
    background-color: #003c79 !important;
    text-align: left;
    margin-bottom: 2.5em;
    font-size: 1.5em;
}
.carImage{
    margin-top: 30%;
    margin-bottom: 12%;
}
.carCard > .cardTitle{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px !important;
}
.cardContent{
    font-size: 1.5rem ;
    font-weight: bold;
}
.divider{
    background-color: white;
    margin: auto !important;
    width: 60%;
}
.editButton{
    margin: auto;
    width: 50% !important;
}