.commentMainDiv{
    background-color: #BCD2BE;
    display: flex !important;
    flex-direction: column !important;
}

.mainPostCard{
    box-shadow: 10px 15px rgba(100,100, 100, 0.9) !important;
    border: 2px solid black;
    background-color: white;
    width: 75%;
    height: 12vw;
    min-height: 12vw;
    border-radius: 1vw;
    margin-top: 2em !important;
    margin: auto;
    justify-content: center;
}
.commentCard{
    background-color: white;
    width: 70%;
    height: 15vh !important; 
    margin: auto;
    margin-top: 0.5%; 
    margin-bottom: 2%;
}

.commentBody{
    max-height: 3em;
    min-height: 3em;
}
.writeCommentonPage{
    background-color: white;
    width: 75%;
    height: 10em;
    margin-top: 1%;
    margin-left: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.commentField{
    width:100%;
    border-radius: 10px;
}

.postTitle{
    margin: auto;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    max-height: 4.5vw !important;
    min-height: 5vw ;
}
.post{
    width:90%;
    margin: auto;
    align-items: center;
}
.postAuthor{
    float: right;
}
.submitButton{
    height: 2vw;
    width: 100%;
}
.postBody{
    min-height: 7vw;
    font-size: 2vh;
}
.commentName{
    float: right;
}