.mainDiv{
    height: 100vh !important;
}

.kep {
    width: 30vw !important;
    border: 1px solid white;
    border-radius: 5%;
    background-color: white;
    margin: auto;
    align-content: flex-end;
    display: flex;
    box-shadow: 10px 15px black;
}

.propertiesGrid {
    text-align: center;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding-right: 5%;
}

.divider {
    width: 50%;
    margin: auto !important;
    background-color: white;
    display: flex !important;
    align-content: center !important;
    align-self: center !important;
}

.driverDescripition {
    width: 90%;
    margin: auto;
    display: flex;
    font-size: 24px !important;
    border-radius: 15px !important;
    padding: 15px;
    line-height: 1.5;
    box-shadow: 10px 15px black !important;
}

.mainGrid {
    margin-bottom: 5%;
    padding-left: 4%;
    color: white !important;
}

.link, :visited, :active, :checked, :hover{
    text-decoration: none;
}

.backgroundStuff {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 5% !important;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    position: absolute;
    z-index:-1;
}

.fav_driverButton{
    float: right;
    margin-bottom: 5px !important;
    margin-right: 5% !important;
    background-color: orange !important;
}