.userOnly{
    background-image: url("../images/authBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-size: 4vh;
    font-weight: bold;
    height: 700px;
}
.userOnlyCard {
    margin: auto !important;
    position: relative;
    top: 40%;
    width: 60%;
    border-radius: 10px !important;
    background-color: rgba(255,255,255,0.7) !important;
    text-align: justify;
}
.link {
    color: white !important;
    text-decoration: none;
}

.ForumMainDiv{
    background-color: #BCD2BE !important;
    display: flex;
    flex-direction: column;
}
.postCreateDivContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
}

.postCreateDiv{
    margin-top: 30em;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 10%;
    width: 35%;
    border-radius: 10px;
    align-items: center;
    padding: 2em;
    box-shadow: 10px 15px rgba(100,100,100, 0.7) !important;
}

.postCard{
    box-shadow: 10px 15px rgba(100 ,100, 100, 0.7) !important;
    border: 2px solid black;
    background-color: white !important;
    width: 80%;
    height: 13.5em;
    border-radius: 1vh !important;
    margin: auto;
    margin-top:3em;
}

.postTitle{
    margin: auto;
    text-align: center;
    font-size: 1.5vw !important;
    font-weight: bold;
    max-height: 1vw !important; 
    min-height: 2vw !important;
}
.postBody{
    font-size: 2vh;
    padding: 3px !important;
    min-height: 2em;
    max-height: 2em;
}
.postContainer{
    margin-top: 18em !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postCreateDivTitle{
    color:black;
    margin: auto;
    text-align: center;
}

.postByName {
    display: flex;
    color:black;
}
.writeComment{
    margin-left: 80% !important;
    border: none !important;
    color: black !important;
    text-decoration: none !important;
   
}
.like{
    border: none !important;
    color: black !important;
    text-decoration: none !important; 
}
.postLike{
    margin-top: .5em !important
}

.uploadButton{
    background-color: black;
    margin-top: 1.5em !important;
}
.tooltip{
    text-align: left;
    width:100px;
}