.root{
    display: "block" !important;
    flex-wrap: "wrap" !important;
    justify-content: "space-around" !important;
    overflow: "hidden" !important;
     background-color: black !important;
     width: 98%;
     margin: auto;
     float: left;
     
} 
.galleryList {
    display: flex;
    width: 500 !important;
    height: 450 !important;
}
.galleryItem{
    margin: 5px !important;
    width: 350px;
    height: 300px !important;
    
}
.galleryItem:hover{
    transform: scale(1.05);
}
.galleryImage{
    border-radius: 10px;
}
.teamFilterButton{
    margin: 2px !important;
    width: 120px;
    height: 50px;
    font-size: 60% !important;
    background-color: rgba(255,255,255, 0.6) !important;
}
.filterRemoveButton{
    color: red !important;
    width: 100px;
    height: 40px;
}
.filterSwitch{
    display: block;
    float: left;
    background-color: white;
    width: 10%;
    clear: left;
    color:black;
    font-weight: bold;
}

.userOnly{
    background-image: url("../authBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-size: 4vh;
    font-weight: bold;
    height: 700px;
}
.userOnlyCard {
    margin: auto !important;
    position: relative;
    top: 40%;
    width: 60%;
    border-radius: 10px !important;
    background-color: rgba(255,255,255,0.7) !important;
    text-align: justify;
}
.link {
    color: white !important;
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

