.navbarLink{
    text-decoration: none;
    color:black !important;
    width: 100%;
}
.navbarLink:hover{
    color: black;
}
.profileOptions{
    width: 100%;
    margin: auto;
    text-align: center;
    color:black
}
.profileOptions:hover{
    color:black
}
.profileOptions:hover > .disable{
    color: white;
}

.searchField{
    margin-top: 5px !important;
    border: none !important;
    color: white !important;
}