.navbarLink{
    text-decoration: none;
    color:black
}

.profileOptions{
    margin: auto;
    text-align: center;
}

.searchField{
    margin-top: 5px !important;
    border: none !important;
    color: white !important;
}