.navbarLink{
    text-decoration: none;
    color:black;
    width: 100%;
}

.profileOptions{
    width: 100%;
    margin: auto;
    text-align: center;
}

.profileOptions:hover > .disable{
    color: white;
}

.searchField{
    margin-top: 5px !important;
    border: none !important;
    color: white !important;
}