@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    width: 100%;
    height: 130%;
    font-family: 'Roboto Mono' !important;
    color: white;
}

.image {
    background-repeat: no-repeat;
    position: absolute;
    z-index:-1;
    background: #BCD2BE  !important;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 27vw;
    top: 0;
    left: 0;
}

.title{
    color: black;
}

.oneLineDiv{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    overflow: hidden !important;
    color: white !important;
    height: 24vw;
}
.oneLineDivTeam{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    overflow: hidden !important;
    height: 30vw;
}

.imageList{
    display: flex !important;
    flex-wrap: nowrap !important;
    transform: translateZ(0) !important;
    padding-top: 2% !important;
    height: 65%;
}
.imageListTeam{
    display: flex !important;
    flex-wrap: nowrap !important;
    padding-top: 2% !important;
    transform: translateZ(0) !important;
    height: 24vw;
}

.driverGrid{
    height: 15vw;
    padding-left: 1%;
}
.teamGrid{
    height: 20vw;
    padding-left: 1%;
}

.background{
    background: #BCD2BE  !important;
    width: 100%;
    height: 100% !important;
    margin: 0;
    color: black !important;
}

.driverLink,  :visited, :active, :focus{
    text-decoration: none !important;
}

.search-bar-container{
    margin-top: 5%;
}
.teamPaper{
    height: 25vw;
    border: none !important;
}
.driverPaper{
    height: 20vw;
    border: none !important;
}
