@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
    background-repeat: no-repeat;
    position: relative;
    background: #007FFF ;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Monaco' !important;
    color: white;
}

.image {
    background-repeat: no-repeat;
    position: absolute;
    z-index:-1;
    background: #007FFF ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 26em;
    top: 0;
    left: 0;
}

.title{
    color: black;
    display: flex;
    margin: auto !important;
    text-align: center !important;
}

.imageList{
    display: flex !important;
    margin: auto;   
    height: 22em;
    width: 85em;
    border: 2px solid yellow;  
}
.imageListTeam{
    display: flex !important;
    margin: auto;   
    height: 30em;
    width: 85em;
    border: 2px solid yellow;
}

.image-list:hover {
    scrollbar-color: auto auto; /* Firefox */
  }
  
  .image-list::-webkit-scrollbar {
    height: 8px;
  }
  
  .image-list::-webkit-scrollbar-thumb {
    background-color: transparent; /* Chrome/Safari */
  }
  
  .image-list:hover::-webkit-scrollbar-thumb {
    background-color: auto; /* Chrome/Safari */
  }


.imageListTeam{
    display: flex !important;
}

.driverLink :visited, :active, :focus{
    text-decoration: none;
}

.searchBarContainer{
    margin-top: 5%;
}

.addButton{
    z-index: 99;
    margin-bottom: 2% !important;
}
.driverAddDialog{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}
.addDriverInput {
    margin-top:1.5em !important;
}
.driverAddForm {
    display: flex;
    flex-direction: column;
    width:30em
}
.addDriverButton {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}
.newTeamForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.addTeamDialog{
    width: 100%;
}
.subTitle{
    margin: auto !important;
    text-align: center !important;
}
.addTeamTF{
    margin-bottom: 15px;
}
