@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
    background-repeat: no-repeat;
    position: relative;
    background: #BCD2BE ;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono';
    color: white;
}

.image {
    background-repeat: no-repeat;
    position: absolute;
    z-index:-1;
    background: #BCD2BE ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 26em;
    top: 0;
    left: 0;
}

.title{
    color: black;
    display: flex;
    margin: auto !important;
    text-align: center !important;
}

.oneLineDiv{
    display: flex;
    overflow: scroll;
    height: 23em;
}
.oneLineDivTeam{
    display: flex;
    overflow: hidden;
    height: 30em;
}

.imageList{
    display: flex !important;
    overflow: scroll;
}
.imageListTeam{
    display: flex !important;
    overflow: scroll;
}

.driverGrid{
    height: 15em;
    padding-left: 1%;
}
.teamGrid{
    height: 25em;
    padding-left: 1%;
}

.teamPaper{
    margin-top: 3%;
    background: transparent !important;
    height: 28em;
    border: none !important;
}
.driverPaper{
    background: transparent !important;
    margin-top: 3%;
    height: 20em;
    border: none !important;
}

.driverLink,  :visited, :active, :focus{
    text-decoration: none;
}

.searchBarContainer{
    margin-top: 5%;
}

.addButton{
    z-index: 99;
    margin-bottom: 2% !important;
}
.driverAddDialog{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}
.addDriverInput {
    margin: 1em;
}
.driverAddForm {
    display: flex;
    flex-direction: column;
    width:30em
}
.addDriverButton {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}
.newTeamForm {
    width: 1000px !important;
}
.subTitle{
    margin: auto !important;
    text-align: center !important;
}
