section {
    min-height:80vh !important;
    background-image: url("../images/authBack.jpg");
    background-size: cover;
    align-items: center;
}
.container{
    padding-top: 4%;
    padding-bottom: 4%;
    opacity: 0.85;
}

.link {
    text-decoration: none !important;
    color: black !important;
    text-align: center;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 6vh !important;
    font-family: 'Roboto Mono' !important;
    font-weight: bold !important;
    color:black
}
.title:hover {
    color: black;
}

.signUpForm{
    padding-bottom: 1em !important;
    
}