.cardMedia{
    height: 15em;
    width: 15em;
    align-content: center;
    position: relative;
    object-fit: cover;
}

.cardImage{
    width: 100%;
    position: relative;
    align-content: center;
    object-fit: contain;
}

.cardContainer {
    margin-top: 5%;
    border-radius: 20px !important;
    position: relative;
    height: 24em;
    margin-left: 20px;
    width: 250px;
    padding: 0;
    z-index: 2;
    box-shadow: 10px 15px black !important;
    transition: transform 1s !important;
}

.cardContainer:hover {
    transform: scale(1.1);
}

