.card-media{
    height: 22vh;
    width: 30vh;
    align-content: center;
    position: relative;
    top: 10px;
    object-fit: cover;
    
}

.card-media img {
    object-fit: cover;
    width: 100px;
    opacity: 0;
}