.card-media{
    height: 22vh;
    width: 30vh;
    align-content: center;
    position: relative;
    object-fit: cover;
}

.card-image{
    width: 100%;
    position: relative;
    align-content: center;
    object-fit: contain;
    top:10px;
}

.cardContainer {
    border-radius: 20px !important;
    position: relative;
    height: 40vh;
    margin-left: 20px;
    width: 250;
    padding: 0;
    color: white;
    z-index: 2;
    box-shadow: 10px 15px black !important;
    transition: transform 1s !important;
}

.cardContainer:hover {
    transform: scale(1.1);
}