

.backgroundStuffTeam{
    height: 9.5%;
}

.imageTeam{
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    margin-bottom: 150px;
}

.mainDivTeam{
    position: relative;
    margin-top: 40%;
    margin-bottom: 5%;
    background-color: #007FFF !important;
    text-align: center;
    color: white;
}

.propertyGridItem {
    padding-bottom: 25px;
    font-weight: bold;
    animation: fade-in 2s forwards;;
}

.propertyGrid {
    font-size: 4.5vh !important;
    width: 80% !important;
    margin: auto !important;
    text-align: center !important;
    border-radius: 15px;
    box-shadow: 15px 10px rgba(250, 250, 250, 0.6) !important;
}

.dividerTeam{
    width: 50%;
    margin-left: 25% !important;
    text-align: center;
    align-self: center;
    display: flex;
    background-color: white;
}

.subTitle {
    margin-bottom: 0;
    margin-left: 10%;
    font-size: 2.5vw;
    text-align: left;
    color: white;
    z-index: -1;
    padding-top: 100px;
}

.favTeamButton{
    z-index: 999 !important;
    margin-top: 1% !important;
    background-color: white !important;
}

.carLink{
    margin: auto !important;
    
}
.carButton{
    color: white !important;
}

.divider{
    color:white;
    margin-top:0.5% !important;
    width:20%
}
.driverImage{
    object-fit: cover;
    height:5em;
}
.addCarDialog{
    display: flex;
    flex-direction: column ;
    width: 100%;
}
.addCarTF{
    margin: 1em !important;
}

@keyframes fade-in {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
