body {
    color: white;
}
.mainTrackDiv{
    background-color: #007FFF;
    min-height: 75em;
    margin-top: 1.5%;
    text-align: center;
}
.trackCard{
    margin: auto;
    min-height: 14em !important;
    max-height: 14em !important;
    border-radius: 20px !important;
    box-shadow: 15px 15px rgba(250, 250, 250, 0.6) !important;
    background-color: #003c79 !important;
    color: white !important;
    font-weight: bold;
}
.left{ 
    margin-left: 2em;
}
.right{
    margin-right: 2em;
}
.trackImage{
    margin-top: 5% !important;
}
.description{
    margin-top: 4%;
    border-radius: 20px !important;
    background-color: #003c79 !important;
    color: white !important;
    font-weight: bold;
    text-align: left;
}
.cardTitle{
    margin-top: 0.5em !important;
    font-size: 3vw;
    font-weight: bold;
    margin: 1%;
}
.cardContent{
    font-size: 2em !important;
}
.divider{
    color: white !important;
}
.editButton{
    width:40%;
    background-color: white;
}